.btnav {
    position: fixed;
    background: rgb(61, 42, 207);
    bottom: 0;
    width: 100vw;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
}

.deactive{
    font-size: 1.2rem;
    color:rgb(158, 148, 238) ;
}
.active{
    font-size: 1.5rem !important;
    background: rgb(255, 255, 255);
    color:rgb(61, 42, 207) !important;
    padding: 0.2rem 0.8rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 2.5rem;
    border-radius: 0.8rem;
    transform: translateY(-1rem);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}