/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background-color: black;
  color: white;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.07);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    /* color: white;rgb(253, 165, 1) */
    height: 2.8rem;
    width: 100vw;
    z-index: 100;
}

.logo {
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 1rem;
    color: rgb(74, 55, 186);
    font-weight: 700;
}

.logo span {
    color: black;
    font-weight: 600;
}

#menuicon,
#times {
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 1rem;
}



.navsec {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgb(67, 42, 192);
    z-index: 99;
    transition: clip-path 2s;
}


.navsec.closed {
    display: none;
    clip-path: circle(0.0% at 100% 0);
}

.navsec.open {
    display: block;
    clip-path: circle(141.2% at 100% 0);
}
.shower{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
